<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iotree.authservice.mapper.AuthMapper" >

    <select id="getUserById" resultType="iotree.authservice.vo.UserVo" databaseId="mariadb">
        SELECT au.id, au.password, au.oauth, au.created, aud.name, aud.cellphone
        FROM AuthUser au LEFT OUTER JOIN AuthUserData aud ON au.id = aud.id
        WHERE au.id = #{id}
    </select>

    <select id="getUserAuthorities" resultType="String" databaseId="mariadb">
        SELECT authority
        FROM AuthUserAuthority
        WHERE `id` = #{id}
    </select>

    <insert id="createOAuthUser" databaseId="mariadb">
        INSERT INTO AuthUser
            (id, password, oauth)
        VALUES
            (#{id}, NULL, 1)
    </insert>

    <insert id="createUserData" databaseId="mariadb">
        INSERT INTO AuthUserData
            (id, name, cellphone)
        VALUES
            (#{id}, #{name}, #{cellphone})
        ON DUPLICATE KEY UPDATE
            name = #{name},
            cellphone = #{cellphone}
    </insert>

    <insert id="addAuthority" databaseId="mariadb">
        INSERT INTO AuthUserAuthority
            (id, authority)
        VALUES
            (#{id}, #{authority})
        ON DUPLICATE KEY UPDATE
            authority = #{authority}
    </insert>

    <!--
    <select id="getTopicList" resultType="iotree.authservice.vo.TopicVo" databaseId="mariadb">
        SELECT topic, description, created
        FROM Topic
        WHERE projectUid = #{projectUid}
        ORDER BY created DESC
        LIMIT #{from}, #{count}
    </select>

    <insert id="createTopic" databaseId="mariadb">
        INSERT INTO Topic
            (projectUid, topic, description)
        VALUES
            (#{projectUid}, #{topic}, #{description})
    </insert>

    <update id="updateTopic" databaseId="mariadb">
        UPDATE Topic
        SET description = #{description}
        WHERE topic = #{topic}
    </update>

    <delete id="deleteTopic" databaseId="mariadb">
        DELETE FROM Topic
        WHERE projectUid = #{projectUid} AND topic = #{topic}
    </delete>
    -->

</mapper>
