<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iotree.authservice.mapper.UserMapper" >

    <select id="getUserByEmail" resultType="iotree.authservice.vo.UserVo" databaseId="mariadb">
        SELECT *
        FROM User
        WHERE email=#{email}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" databaseId="mariadb">
        INSERT INTO User
        (name, username, email, password, address, phone, website, company)
        VALUES
        (#{name}, #{username}, #{email}, #{password}, #{address}, #{phone}, #{website}, #{company})
    </insert>

    <update id="updateUser" databaseId="mariadb">
        UPDATE User
        SET name = #{name}
        WHERE id = #{id}
    </update>

</mapper>
